/* Base styles for larger screens */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
}

.resumepage {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.resumepage .a-resumepage {
  background-color: #ffffff;
  overflow: hidden;
  width: 595px;
  height: 842px;
}

.resumepage .overlap {
  position: relative;
  width: 608px;
  height: 846px;
  left: -4px;
}

.resumepage .overlap-group {
  position: absolute;
  width: 608px;
  height: 846px;
  top: 0;
  left: 0;
}

.resumepage .side-panel {
  position: absolute;
  width: 163px;
  height: 842px;
  top: 0;
  left: 4px;
  background-color: #fed8b3;
}

.resumepage .portfolio-photo {
  top: 3px;
  position: absolute;
  width: 163px;
  height: 157px;
  left: 4px;
  object-fit: cover;
}

.resumepage .portfolio-photo-end {
  top: 673px;
  position: absolute;
  width: 163px;
  height: 157px;
  left: 4px;
  object-fit: cover;
}

.resumepage .job {
  position: absolute;
  width: 438px;
  height: 207px;
  top: 120px;
  left: 167px;
}

.resumepage .job-experience {
  position: absolute;
  width: 165px;
  height: 37px;
  top: 26px;
  left: 9px;
  font-family: "Krona One", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.resumepage .computer-vision {
  position: absolute;
  width: 415px;
  height: 35px;
  top: 104px;
  left: 9px;
  font-family: "Krona One", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.resumepage .text-wrapper {
  font-family: "Krona One", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
}

.resumepage .span {
  font-size: 11px;
}

.resumepage .text-wrapper-2 {
  font-size: 13px;
}

.resumepage .undergraduate {
  position: absolute;
  width: 422px;
  height: 47px;
  top: 160px;
  left: 9px;
  font-family: "Krona One", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.resumepage .line {
  width: 430px;
  height: 1px;
  top: 70px;
  left: 0px;
  position: relative;
  object-fit: cover;
}

.resumepage .line-2 {
  width: 432px;
  height: 1px;
  top: 0px;
  left: 0px;
  position: relative;
  object-fit: cover;
}

.resumepage .education {
  position: absolute;
  width: 440px;
  height: 231px;
  top: 337px;
  left: 168px;
}

.resumepage .div {
  position: absolute;
  width: 165px;
  height: 37px;
  top: 18px;
  left: 8px;
  font-family: "Krona One", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.resumepage .state-university-of {
  position: absolute;
  height: 33px;
  top: 118px;
  left: 8px;
  font-family: "Krona One", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.resumepage .example-university {
  position: absolute;
  height: 44px;
  top: 71px;
  left: 8px;
  font-family: "Krona One", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.resumepage .courses-coursera {
  position: absolute;
  height: 55px;
  top: 158px;
  left: 8px;
  font-family: "Krona One", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.resumepage .line-3 {
  width: 431px;
  height: 1px;
  top: -2px;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.resumepage .line-4 {
  width: 431px;
  height: 1px;
  top: 60px;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.resumepage .line-5 {
  width: 430px;
  height: 1px;
  top: 230px;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.resumepage .languages {
  position: absolute;
  width: 175px;
  height: 115px;
  top: 559px;
  left: 0;
}

.resumepage .language {
  height: 36px;
  top: 0;
  left: 13px;
  font-family: "Krona One", Helvetica;
  font-size: 14px;
  position: absolute;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.resumepage .text-wrapper-3 {
  height: 20px;
  top: 42px;
  left: 15px;
  font-size: 11px;
  position: absolute;
  font-family: "Krona One", Helvetica;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.resumepage .text-wrapper-4 {
  height: 10px;
  top: 67px;
  left: 15px;
  font-family: "Krona One", Helvetica;
  font-size: 11px;
  white-space: nowrap;
  position: absolute;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.resumepage .text-wrapper-5 {
  height: 10px;
  top: 91px;
  left: 14px;
  font-size: 11px;
  white-space: nowrap;
  position: absolute;
  font-family: "Krona One", Helvetica;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.resumepage .line-6 {
  width: 163px;
  height: 2px;
  top: 113px;
  left: 0px;
  position: relative;
  object-fit: cover;
}

.resumepage .tech-skills {
  position: absolute;
  width: 171px;
  height: 208px;
  top: 344px;
  left: 0;
}

.resumepage .tech-soft-skills {
  position: absolute;
  height: 54px;
  top: 0;
  left: 13px;
  font-family: "Krona One", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.resumepage .line-7 {
  width: 163px;
  height: 2px;
  top: 195px;
  left: 0px;
  position: relative;
  object-fit: cover;
}

.resumepage .tech-skills-python-c {
  position: absolute;
  width: 145px;
  top: 66px;
  left: 12px;
  opacity: 0.9;
  font-family: "Krona One", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.resumepage .adress {
  position: absolute;
  width: 168px;
  height: 86px;
  top: 168px;
  left: 4px;
}

.resumepage .overlap-2 {
  position: absolute;
  width: 163px;
  height: 37px;
  top: -2px;
  left: 0;
}

.resumepage .line-8 {
  width: 163px;
  height: 2px;
  top: -10px;
  left: 0;
  position: relative;
  object-fit: cover;
}

.resumepage .adress-2 {
  position: absolute;
  height: 36px;
  top: 1px;
  left: 10px;
  font-family: "Krona One", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.resumepage .line-9 {
  width: 163px;
  height: 2px;
  top: 78px;
  left: -2px;
  position: relative;
  object-fit: cover;
}

.resumepage .p {
  width: 143px;
  height: 36px;
  top: 38px;
  left: 10px;
  font-size: 12px;
  position: absolute;
  font-family: "Krona One", Helvetica;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.resumepage .contacts {
  position: absolute;
  width: 169px;
  height: 82px;
  top: 256px;
  left: 5px;
}

.resumepage .contacts-2 {
  position: absolute;
  height: 36px;
  top: 0;
  left: 8px;
  font-family: "Krona One", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.resumepage .text-wrapper-6 {
  height: 10px;
  top: 42px;
  left: 5px;
  font-size: 11px;
  white-space: nowrap;
  position: absolute;
  font-family: "Krona One", Helvetica;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.resumepage .email-sokrut-m-gmail {
  position: absolute;
  height: 20px;
  top: 55px;
  left: 7px;
  font-family: "Krona One", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 11px;
  letter-spacing: 0;
  line-height: normal;
}

.resumepage .line-10 {
  width: 163px;
  height: 2px;
  top: 79px;
  left: 0;
  position: relative;
  object-fit: cover;
}

.resumepage .achievements-hobby {
  position: absolute;
  width: 401px;
  height: 278px;
  top: 568px;
  left: 182px;
}

.resumepage .line-11 {
  width: 167px;
  height: 2px;
  top: 61px;
  left: 1px;
  position: absolute;
  object-fit: cover;
}

.resumepage .line-12 {
  width: 167px;
  height: 2px;
  top: 61px;
  left: 225px;
  position: absolute;
  object-fit: cover;
}

.resumepage .achievements {
  position: absolute;
  width: 165px;
  height: 37px;
  top: 18px;
  left: 3px;
  font-family: "Krona One", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.resumepage .hobby {
  position: absolute;
  width: 165px;
  height: 37px;
  top: 18px;
  left: 228px;
  font-family: "Krona One", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.resumepage .line-13 {
  width: 1px;
  height: 274px;
  top: 0;
  left: 210px;
  position: absolute;
  object-fit: cover;
}

.resumepage .developed-stable {
  position: absolute;
  width: 168px;
  top: 76px;
  left: 0;
  font-family: "Krona One", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.resumepage .text-wrapper-7 {
  font-family: "Krona One", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
}

.resumepage .text-wrapper-8 {
  font-family: "MedievalSharp", Helvetica;
}

.resumepage .traveling-mushroom {
  position: absolute;
  width: 170px;
  top: 76px;
  left: 223px;
  font-family: "Krona One", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.resumepage .name {
  position: absolute;
  width: 408px;
  height: 90px;
  top: 11px;
  left: 187px;
}

.resumepage .overlap-group-2 {
  position: relative;
  width: 404px;
  height: 90px;
}


.resumepage .SOKRUT-DANYLO {
  position: absolute;
  width: 241px;
  height: 90px;
  top: 0;
  left: 163px;
  font-family: "Krona One", Helvetica, cursive;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.resumepage .STUDENT {
  position: absolute;
  width: 165px;
  height: 37px;
  top: 8px;
  left: 0;
  font-family: "Krona One", Helvetica, cursive;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

/*HIDING ELEMENTS*/
.resumepage .portfolio-photo-end-add {
  display: none;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  /* Adjust the width to take up the full screen width */
  .resumepage {
    width: 100%;
  }

  body {
    font-size: 10px;
  }

  /* Reorganize elements to fit the smaller screen */
  .resumepage .hobby {
    position: absolute;
    width: 165px;
    height: 37px;
    top: 227px; /* Adjust the position to place it under "FEATS" */
    left: 3px; /* Keep the same left position */
    font-family: "Krona One", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
  }

  .resumepage .traveling-mushroom {
    position: absolute;
    width: 170px;
    top: 287px; /* Adjust the position to place it under "FEATS" */
    left: 3px;
    font-family: "Krona One", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
  }

  .resumepage .SOKRUT-DANYLO {
    font-size: 8px;
    line-height: 1.2;
    word-wrap: break-word;
    left: -12px;
    top: 40px;
    text-align: center; /* Center the text under "STUDENT" */
  }

  .resumepage .STUDENT {
    left: -12px;
    font-size: 12px; /* Adjust the font size as needed */
    /* Additional adjustments if needed */
  }

  .resumepage .portfolio-photo-end-add {
    top: 875px;
    position: absolute;
    width: 163px;
    height: 157px;
    left: 4px;
    object-fit: cover;
  }

  .resumepage .side-panel {
    position: absolute;
    width: 163px;
    height: 1000px;
    top: 0;
    left: 4px;
    background-color: #fed8b3;
  }

  .resumepage .computer-vision,
  .resumepage .undergraduate,
  .resumepage .state-university-of,
  .resumepage .courses-coursera,
  .resumepage .example-university {
    max-width: 320px;
    word-wrap: break-word; /* Allow long words to break into new lines */
  }

  /* Ensure text elements start on new lines */
  .resumepage .computer-vision,
  .resumepage .undergraduate,
  .resumepage .state-university-of,
  .resumepage .courses-coursera,
  .resumepage .example-university {
    display: block;
    white-space: normal;
  }
}


@media screen and (max-width: 820px) {
  /* Adjust the width to take up the full screen width */
  .resumepage {
    width: 100%;
  }

  body {
    font-size: 10px;
  }

  /* Reorganize elements to fit the smaller screen */
  .resumepage .hobby {
    position: absolute;
    width: 165px;
    height: 37px;
    top: 227px; /* Adjust the position to place it under "FEATS" */
    left: 3px; /* Keep the same left position */
    font-family: "Krona One", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
  }

  .resumepage .traveling-mushroom {
    position: absolute;
    width: 170px;
    top: 287px; /* Adjust the position to place it under "FEATS" */
    left: 3px;
    font-family: "Krona One", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
  }

  .resumepage .SOKRUT-DANYLO {
    font-size: 12px;
    line-height: 1.2;
    left: -12px;
    top: 40px;
    text-align: left; /* Center the text under "STUDENT" */
  }

  .resumepage .STUDENT {
    left: -12px;
    font-size: 12px; /* Adjust the font size as needed */
    /* Additional adjustments if needed */
  }

  .resumepage .portfolio-photo-end-add {
    top: 875px;
    position: absolute;
    width: 163px;
    height: 157px;
    left: 4px;
    object-fit: cover;
  }

  .resumepage .side-panel {
    position: absolute;
    width: 163px;
    height: 1000px;
    top: 0;
    left: 4px;
    background-color: #fed8b3;
  }

  .resumepage .computer-vision,
  .resumepage .undergraduate,
  .resumepage .state-university-of,
  .resumepage .courses-coursera,
  .resumepage .example-university {
    max-width: 320px;
    word-wrap: break-word; /* Allow long words to break into new lines */
  }

  /* Ensure text elements start on new lines */
  .resumepage .computer-vision,
  .resumepage .undergraduate,
  .resumepage .state-university-of,
  .resumepage .courses-coursera,
  .resumepage .example-university {
    display: block;
    white-space: normal;
  }
}

@media screen and (max-width: 320px) {
  /* Adjust the width to take up the full screen width */
  .resumepage {
    width: 100%;
  }

  body {
    font-size: 10px;
  }

  /* Reorganize elements to fit the smaller screen */
  .resumepage .hobby {
    position: absolute;
    width: 165px;
    height: 37px;
    top: 227px; /* Adjust the position to place it under "FEATS" */
    left: 3px; /* Keep the same left position */
    font-family: "Krona One", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
  }

  .resumepage .traveling-mushroom {
    position: absolute;
    width: 170px;
    top: 287px; /* Adjust the position to place it under "FEATS" */
    left: 3px;
    font-family: "Krona One", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
  }

  .resumepage .SOKRUT-DANYLO {
    font-size: 12px;
    line-height: 1.2;
    left: -12px;
    top: 40px;
    text-align: left; /* Center the text under "STUDENT" */
    word-wrap: break-word;
  }

  .resumepage .STUDENT {
    left: -12px;
    font-size: 12px; /* Adjust the font size as needed */
    /* Additional adjustments if needed */
  }

  .resumepage .portfolio-photo-end-add {
    top: 875px;
    position: absolute;
    width: 163px;
    height: 157px;
    left: 4px;
    object-fit: cover;
  }

  .resumepage .side-panel {
    position: absolute;
    width: 163px;
    height: 1000px;
    top: 0;
    left: 4px;
    background-color: #fed8b3;
  }

  .resumepage .computer-vision,
  .resumepage .undergraduate,
  .resumepage .state-university-of,
  .resumepage .courses-coursera,
  .resumepage .example-university {
    max-width: 320px;
    word-wrap: break-word; /* Allow long words to break into new lines */
  }

  /* Ensure text elements start on new lines */
  .resumepage .computer-vision,
  .resumepage .undergraduate,
  .resumepage .state-university-of,
  .resumepage .courses-coursera,
  .resumepage .example-university {
    display: block;
    white-space: normal;
  }
}